<!--datatable--
.dtHorizontalVerticalExampleWrapper {
    max-width: 600px;
    margin: 0 auto;
}
#dtHorizontalVerticalExample th, td {
    white-space: nowrap;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}

#second,#third,#fourth,#result{
    display: none;
}

.btn-equa{
    width: 90px;
}

.error {
    color: red;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.item {
    position: relative;
    overflow: hidden;

}
.item img {
    max-width: 100%;

    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.item:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

/*#calendar {
    max-width: 1333px;
}*/
.col-centered{
    float: none;
    margin: 0 auto;
}
span.fc-title {
    color:white;
}

.navbar-laravel{
    background-color: #2b4765;
}
.navbar-light .navbar-brand {
    color: #e6e6e6;
}
.navbar-light .navbar-brand:hover {
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link {
    color: #e6e6e6;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #ffffff;
}
#loader{
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    z-index: 3;
}

/******* css discussion ******/

.inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
}
.headind_srch{border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
    color: #05728f;
    font-size: 21px;
}


.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
    float: left;
    width: 11%;
}
.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
}


.active_chat{ background:#ebebeb;}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
}
.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}
.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}
.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
    padding: 30px 15px 0 25px;
    border: solid 1px;
    border-color: lavender}

.sent_msg p {
    background: #c81f1f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0; color:#fff;
    padding: 5px 10px 5px 12px;
    width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
    float: right;
    width: 46%;
}
.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
    outline: none;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
    cursor: pointer;
    font-size: 17px;
    right: 0;
    top: 11px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
    height: 516px;
    overflow-y: auto;
}

/*autocomplete input*/
.easy-autocomplete{
    width:100% !important
}

.easy-autocomplete input{
    width: 100%;
}

.dataTables_filter {
    float: right !important;
}

.ui.stackable.pagination.menu{
    float: right !important;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: rgb(255, 255, 255);
}

/* profile utilisateur */
.image-container {
    position: relative;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.image-container:hover .image {
    opacity: 0.3;
}

.image-container:hover .middle {
    opacity: 1;
}
#testblur{
    filter: blur(8px);
}
